@font-face {
    font-family: ethnocentric;
    src: url("ethnocentric.rg-regular.otf");
}

html,body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    


}
.card{
    background-color:black;
    max-width:500px;
    border:5px solid brown;
    border-radius:10px;
    margin:auto;
    margin-top:5%;
    margin-bottom:4%;
    

}

h1{
    font-size:5rem;
    font-family:ethnocentric;
    text-align:center;
    color:orangered;
}
.tweet-input-area{
    display:flex;
   margin-left:-150px;
    gap:10px;
    

}

.profile-pic{
    border:1px solid grey;
    border-radius:50%;
    width: 100px;
    margin-left:30%;
}
textarea{
   resize:none;
    margin-bottom:4px;
    border:2px solid black;
    border-radius:5px;
    font-size:20px;
    width:200px;
    color:black;
}

#tweet-btn{

 
     background-color:#0059ff; 
     color:white;
     border-radius:45px;
     border:none;   
     display:block;
     margin:auto;    
     width:250px;
     padding:6px;
     font-size:36px;
}

/* tweet */
hr{
    width:100%;
    border: .2px solid ridge;
}
.tweet{
    display:flex;
    flex-direction:column;
    align-items:start;
    /* border-top: 1px solid; */
    
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
    margin-left:-50px;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    color:white;
}

.tweet-details{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    width: 160px;
}
i{
    font-size: 24px;
    cursor: pointer;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}
.fa-solid{
    color:grey;
}

.tweet-reply{
    /* border-top: 1px solid lightgray; */
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
    color:white;
}

.handle{
    font-size: 16px;
    font-weight: 500;
    color: blue;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 20px;
    line-height: 20px;
}
.liked{
    color:red;
}
.retweeted{
    color:green;
}
.hidden{
    display:none;
}
